---
title: Notícias  <!-- Alteração cosmética -->
description:
permalink: /noticias/  <!-- Recomendado para URL amigável -->
---

<div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/_news" class="btn"><strong>&#9998;</strong> Adicionar Notícia</a></p>
	
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.news %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Notícias recentes</a>
			{% endif %}

			<span class="page_number">{{ paginator.page }} de {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Notícias antigas &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div>